<label>Value</label>
<input #data type="text"/>
<select #options>
    <option value="1">Add</option>
    <option value="2">Remove</option>
    <option value="3">Find</option>
</select>
<button (click)="handleSubmit(data.value,options.value)">Submit la</button>
<svg id="svg" width="10000px" height="10000px">
    <g *ngFor="let level of bst.levels">
        <g *ngFor="let node of level">
            <circle *ngIf="node.data != -1" [attr.cx]="node.svgCoord.x" [attr.cy]="node.svgCoord.y" r="50px" height="10px" width="10px" fill="white" stroke="black">
            </circle>
            <text *ngIf="node.data != -1" [attr.x]="node.svgCoord.x - 20" [attr.y]="node.svgCoord.y + 20" font-size="50px">
                {{node.data}}
            </text>
            <g *ngFor="let neighbor of node.neighbors">
                <line *ngIf="neighbor.svgCoord!=null && neighbor.data != -1" [attr.x1]="neighbor.svgCoord.x" [attr.y1]="neighbor.svgCoord.y" [attr.x2]="node.svgCoord.x" [attr.y2]="node.svgCoord.y"
                    stroke-width="2" stroke="black">
                </line>
            </g>

        </g>
    </g>

</svg>